doctype 5
html(lang="he")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Poli-Lock מנעולנות, מקצועיות ואיכות
        link(href="https://fonts.googleapis.com/css?family=Assistant|Secular+One" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous")
        link(rel="stylesheet", href="css/main.min.css")
        
    body
        .wrap
            .inner
                header.header
                    .container
                        .logo
                            .logo-inner
                                | Poli-Lock
                                img.logo-icon(src="img/lock-icon.svg", alt="Lock Icon", srcset="")
                        .call-now
                            .call-now-inner
                                a(href="tel:++972543824499")
                                    i.fas.fa-phone
                                    | 054-382-4499
                                    
                        ul
                            li
                                a(href="#main").
                                    ראשי
                            li
                                a(href="#service").
                                    שירות
                            li
                                a(href="#details").
                                    עלינו
                            li
                                a(href="#about").
                                    אודות
                .hero.main#main
                    .center-container
                        .container-inner
                            .hero-title ברוכים הבאים ל Poli-Lock
                            .hero-subtitle שירותי פריצה ומנעולנות במרחב תל-אביב מרכז
                            a(href="#service")
                                .next
                                    i.fas.fa-chevron-circle-down
                //- .hero.main-details
                //-     .center-container
                //-         .container-inner
                //-             p על כולנו עובר יום קשה לפעמים, כזה שכלום לא הולך כמו שצריך, ואז אנחנו מגיעים לדלת הבית שלנו, והדלת לא נפתחת. מכל סיבה – מפתח שאבד, מפתח שנשבר בתוך הדלת, או כל סיבה אחרת שבגללה אנחנו לא יכולים להיכנס לבית שלנו.
                //-             p ברגעים אלה, אנחנו מחפשים מנעולן מקצועי שיתן לנו מענה מהיר ואיכותי.
                //-             p Poli-lock מספקים שירותים מקצועיים 24/7 ומקפידים על אמינות,מקצועיות והגעה מהירה ללקוח
                //-             img.lock-icon(src="img/lock-icon.svg", alt="Lock Icon", srcset="")
                .hero.service#service
                    .center-container
                        .container-little
                            h1.service-title שירותי המנעולנות שלנו
                            h4.service-subtitle
                                | תחום המנעולנות הינו מגוון וכולל מספר שירותים שונים.
                                | אצלנו Poli-Lock אנו רוצים להבטיח לך את השירות הטוב ביותר ואת ההיצע הטוב ביותר ולכן אנו מספקים את כל שירותי המנעולנות
                        ul.four-sections
                            li.first פריצה לדירות
                            li.second פריצה לכלי רכב ללא נזק!!
                            li.third פריצת כספות
                            li.forth התקנת צילינדרים
                            li.fifth התקנת מנעולים
                            li.sixth התקנת מערכות מיגון
                        .call-now
                            .call-now-inner
                                a(href="tel:++972543824499")
                                    i.fas.fa-phone
                                    | 054-382-4499
                        .container-little
                            .quote-addition כל השירותים ניתנים ע"י מנעולן שמאושר ע"י משטרת ישראל והינו חבר בעמותת המנעולנים הבינלאומית והינו מומחה בתחומו.
                .hero.details#details
                    .container
                        .row.details-container
                            h1.detail-title-main למה לבחור בנו?
                            //- .col-two-thirds.location
                            //-     img.location-image(src="https://maps.googleapis.com/maps/api/staticmap?center=Tel+Aviv&scale=&zoom=12&size=1920x1080&key=AIzaSyCvEMmkL5est3NJq1dmo5t5WRJfXtA1zcU", alt="", srcset="")
                            .col-half.details-item
                                h3.details-title 24/7
                                p.details-content זמינים בכל שעות היממה ובכל ימות השבוע נתקעתם מחוץ לבית/רכב בשעות הבוקר המוקדמות? באמצע הלילה? אתם צריכים מנעולן יעיל ומהיר שיספק לכם את השירות הטוב ביותר ויגיע אליכם בהקדם האפשרי! ב-poli-lock אנו מודעים לחשיבות הרבה של הגעה מהירה ומתן שירות מקצועי ואדיב בכל שעות היממה ובכל ימות השבוע!
                            .col-half.details-item
                                h3.details-title מקצועיות
                                p.details-content בארצנו הקטנה, רמות המיגון הן מהגבוהות בעולם, לכן רמת ההכשרה של מנעולן בישראל היא מהמקצועיות ביותר. ב- poli-lock אנו מיומנים ומנוסים בכדי להתמודד עם כל בעיה שתצוץ בשטח ועם כל סוג מנעול שקיים, בין אם לרכב ובין אם לבית. מנעולן שיגיע אליכם מטעמנו הינו חבר בעמותת המנעולנים הבינלאומים והינו מאושר ע"י משטרת ישראל.
                            .col-half.details-item
                                h3.details-title אמינות
                                p.details-content חברת poli-lock שמה כנר לרגליה את נושא האמינות מול הלקוחות שבסך הכל אם קראו לנו, כנראה עוברים יום רע. אז כאשר אתם נתקעים מחוץ לאוטו, או מחוץ לדירה, שכחתם את הקוד לכספת (או שהיא החליטה פתאום לא להיפתח מכל סיבה) או שאתם חושבים שהגיע הזמן לשדרג את מערכות המיגון בדירה פשוט תתקשרו לpoli-lock  ואנחנו נגיע מיד בכדי לתת לכם את השירות הטוב ביותר.
                            .col-half.details-item
                                h3.details-title השירותים שלנו
                                p.details-content
                                    | אצלנו ב- poli-lock אנו מעניקים שירותי פריצה שהם השירותים השכיחים ביותר למנעולן.
                                    | אך אנו מספקים גם שירותי מיגון במידה ותרצו לשדרג את מערכות ההגנה בדלתות הבית שלכם. אנו מעניקים שירותי פריצה ללא נזק לבית ולרכב בכל ימות השבוע 24 שעות ביממה כאשר אנו שמים דגש על- הגעה מהירה, מתן שירות מקצועי, אדיבות ואמינות.
                .hero.absolute-height.availability#about
                    .row
                        .col-half.right-side
                            .center-block
                                h1.availability-title צור קשר
                                .input-field
                                    label.label טלפון
                                    span
                                        a(href="tel:++972543824499")
                                            i.fas.fa-phone
                                            | 054-382-4499
                                .input-field
                                    label.label אימייל
                                    span 
                                        a(href="mailto:Elkobi33@gmail.com") Elkobi33@gmail.com
                                .input-field
                                    label.label כתובת
                                    span משהו משהו 32, תל אביב
                                img.location-image(src="https://maps.googleapis.com/maps/api/staticmap?center=Tel+Aviv&scale=&zoom=13&size=1920x1080&key=AIzaSyCvEMmkL5est3NJq1dmo5t5WRJfXtA1zcU", alt="", srcset="")
                        .col-half.left-side
                            img.background-image(src="img/stock-keys.jpg")
                footer.footer
                    .container
                        .row
                            .col-half
                                h3.footer-title Poli-Lock מעניקה את שירותיה באיזור תל-אביב והמרכז.
                                p.footer-details המנעולנים שלנו הינם חברי עמותת המנעולנים הבינלאומית ובעלי ניסיון רב, הן במתן שירות והן במקצועיות. 
                                p.footer-subdetails אנו  מספקים שירותי התקנה,החלפה ופריצה של כל סוגי המנעולים מכל הדגמים. 
                            .col-half
                                h4 תפסו אותנו: 
                                ul.social-links
                                    li
                                        a(href="https://www.facebook.com/polilocksmith") 
                                            i.icon.fab.fa-facebook
                                            | Poli-Lock
                                    li
                                        a(href="mailto:Elkobi33@gmail.com")
                                            i.icon.fas.fa-envelope
                                            | Elkobi33@gmail.com

